@mixin mapa ($fondo, $ancho) {
    background-color: $fondo;
    width: $ancho;
    height: 200px;
    margin-top: 5px;
    padding: 10px;
}

.mapa-1 {
    @include mapa(#1111,300px);
}

.mapa-2 {
    @include mapa(#222,500px);
}

.mapa-3 {
    @include mapa(#333,600px);
}