@mixin mapa ($fondo, $ancho:200px) {
    background-color: $fondo;
    width: $ancho;
    height: 200px;
    margin-top: 5px;
    padding: 10px;
}

.mapa-1 {
    @include mapa(rgba(17, 17, 17, 0.522),300px);
}

.mapa-2 {
    @include mapa(rgba(34, 34, 34, 0.407),);
}

.mapa-3 {
    @include mapa(rgba(51, 51, 51, 0.182),600px);
}



