$color-organizadoras:#b7b71381;
$color-fondo:white;
$color-hover:rgba(221, 158, 122, 0.558);
$color-fondos:rgba(221, 158, 122, 0.604);
$color-transparencias:rgba(255, 255, 255, 0.521);
$color-linea-footer:#b7b71381;


